In [1]:
import pandas as pd
import  sys 
sys.path.append("../src/")
import data_preparation as dp
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

/var/folders/12/33kq22951gn7jfpz3d32v_qc0000gn/T/ipykernel_7138/176984250.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("../data/train.csv")
/var/folders/12/33kq22951gn7jfpz3d32v_qc0000gn/T/ipykernel_7138/176984250.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv("../data/test.csv")

In [3]:
preprocess = dp.DataPreparation(train, test)

In [4]:
train_clean, test_clean = preprocess.prepare_data()

Valeurs manquantes du train supprimées ✅
Valeurs manquantes du test supprimées ✅
Outliers traités ✅
Valeurs manquantes numériques imputées ✅
Valeurs manquantes catégorielles imputées ✅

In [6]:
test_clean.isna().sum().sum()

0

In [8]:
train_clean.to_csv("../data/train_clean.csv")
test_clean.to_csv("../data/test_clean.csv")

In [37]:
gbtrain = train_clean.groupby(['T']).apply(lambda a: a[:])

In [39]:
gbtrain[gbtrain['T']=='M']['Cn'].mode()

0    3008
Name: Cn, dtype: object

In [42]:
gbtrain[gbtrain['T']=='DXK6471AS3H']["Cn"].value_counts()

Cn
FENGON 5             53
FENGON5               5
DFSK MOTOR CO LTD     1
Name: count, dtype: int64

In [46]:
train_clean[train_clean["Mk"]!=train_clean["Mp"]][["Mk", "Mp"]]

             Mk                         Mp
5         SKODA                 VOLKSWAGEN
8         SKODA                 VOLKSWAGEN
10        SKODA                 VOLKSWAGEN
18        SKODA                 VOLKSWAGEN
19        SKODA                 VOLKSWAGEN
...         ...                        ...
7571643    AUDI                 VOLKSWAGEN
7571644    AUDI                 VOLKSWAGEN
7571645    AUDI                 VOLKSWAGEN
7571646    AUDI                 VOLKSWAGEN
7571647  NISSAN  RENAULT-NISSAN-MITSUBISHI

[5675979 rows x 2 columns]