In [2]:
import pandas as pd
import sys 
sys.path.append("./src/")

import analyse_exploratoire as ae

In [4]:
df = pd.read_csv('data/train.csv')

C:\Users\baheu\AppData\Local\Temp\ipykernel_20556\4207432485.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/train.csv')

In [5]:
df.head()

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,z (Wh/km),IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,Date of registration,Fuel consumption,Electric range (km)
0,0,DE,IP-C519_2022_00008-WF0-1,FORD,FORD WERKE GMBH,FORD WERKE GMBH,NaN,e13*2007/46*1911*15,DEH,R0DB1NX,...,NaN,e13 32 37,NaN,2.30,NaN,NaN,P,2022-08-29,5.6,NaN
1,1,FR,IP-MQB27ZZ_A2_0529-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,e1*2007/46*1783*29,AW,ABDLAC,...,NaN,e1 29,NaN,1.14,NaN,NaN,P,2022-02-22,5.5,NaN
2,2,FR,IP-MQB27ZZ_A1_0533-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,e1*2007/46*1783*29,AW,ABDLAC,...,NaN,e1 29,NaN,1.14,NaN,NaN,P,2022-03-26,5.6,NaN
3,3,DE,IP-04-U5Y-2018-1137,KIA,KIA SLOVAKIA,KIA SLOVAKIA SRO,NaN,e4*2007/46*1299*18,CD,BAP71,...,NaN,e4 28,NaN,0.80,NaN,NaN,P,2022-09-01,6.8,NaN
4,4,FR,IP-MQB27ZZ_B2_0534-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,e1*2007/46*1783*29,AW,ABDLAA,...,NaN,e1 29,NaN,1.14,NaN,NaN,P,2022-01-21,5.9,NaN